
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  color: #a4aeb0;
  font-family: 'Courier New', Courier, monospace;
}

#editor {
  /**TODO - Temp fix, make inspector solve this*/
  background-color:#323944;
}

#menu {
  background-color: #48556a;
}

#inspector {
  flex-direction: column;
  /* height: min-content; */
  overflow-y: auto;
}

#renderer {
  border: none;
  background-color: #19191a;
}

#treeview {
  background-color: #323944;
}

#treeview > .treeview-node:nth-child(2n+1) {
  background-color:#0001;
}

.treeview-node {
  margin-top:0.1em;
  cursor: pointer;
  transition: background-color 1s cubic-bezier(0.08, 0.82, 0.17, 1);
}

/**Just .treeview-node:hover alone has low specificity
 * and is overriden by treeview > .treeview-node:nth-child
 * adding #treeview to the beginning here raises the level
 * and because this is after the nth child one, it takes precedence
**/
#treeview > .treeview-node:hover {
  background-color:#0005;
}

#treeview > .treeview-node-selected {
  background-color:#000f !important;
  color: white;
}

.treeview-node-type {
  color: #c088f9;
}

.treeview-node-id {
  color: #76808e;
}

.inspector-field {
  margin: 0.5em;
  border-radius: 0.25em;
  background-color: #0002;
  flex-direction: column;
}

.inspector-field-label {
  align-self: center;
}

.inspector-field-input {
  flex: 1;
  min-width:0;
  min-height: 0;
  width: 99%;
  border: none;
  /* border-radius: 0.25em; */
  background-color: #0003;
  /* margin-left:1em; */
  color: inherit;
  text-indent: 1em;
}
.inspector-field-input:disabled {
  background: none !important;
}

.inspector-field-enable {
  background-color: #516c77;
  border-radius: 0.25em;
  color: inherit;
  max-height: 1.5em;
  /**Temporarily disabled*/
  display: none;
}

.inspector-editor {
  background-color: #00000060;
  flex-direction: column;
  margin: 0.5em 0.5em 0.5em 0.5em;
  max-height: min-content;
  border: #e8e8e88f dashed 1px;
  border-radius: 0.5em;
}

.inspector-editor-title {
  background-color: #00000060;
  text-align: center;
  padding-top:0.5em;
  padding-bottom:0.5em;
  cursor: pointer;
  max-height: min-content;
  flex:0.1 !important;
  font-size: large;
}

.inspector-editor-folder {
  flex-direction: column;
  overflow-y: hidden;
}

.inspector-editor-folder-minimized {
  display: none !important;
}